body {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #22385b;
}

#centeredContainer {
	width: 1100px; 
	max-width: 1100px; 
	text-align: left; 
	margin: 0px auto; 	
}

#alcoy {
	background-image: url('../media/alcoy.png'); 
	background-position: center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover;
	position: absolute;
	height: 600px; 
	width: 100%;
	max-width: 1100px;
}

#info {
	background-color: #002b04; 
	position: absolute;
	top: 600px;
	height: 1500px; 
	max-width: 1100px;
	width: 100%;
	display: block;
	margin: auto;
}

#madelynCodes {
	position: absolute;
	width: 70%;
	height: auto;
	margin: 15%;
	top: -375px;
}

#nav {
	position: absolute;
	top: 0px;
	height: 50px;
	width: 90%;
	margin-right: 30px;
	list-style-type: none;
}

li {
	float: right;
	margin: 10px;
	padding: 10px;
	font-size: 24px;
}

li a{
	text-decoration: none;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
}

